body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

body, input {
  font-family: "Source Sans Pro", sans-serif;
}

div,
button {
  box-sizing: border-box;
}

.prepend-mag {
  position: fixed;
  z-index: 2;
  top: 15px;
  left: 15px;
  font-family: AppleColorEmoji;
}

.search {
  padding: 20px 10px 20px 35px;
  font-size: 14px;
  width: 100%;
  border: 0;
  background: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  position: fixed;
  z-index: 1;
  top: 0;
  -webkit-appearance: textfield;
}

.search:focus {
  background: #fff;
  outline: none;
}

.results {
  height: 100%;
  position: relative;
}

.code {
  width: 100%;
  display: inline-block;
  border: 1px solid transparent;
  padding: 5px 15px;
  padding-left: 35px;
  font-size: 13px;
  border-radius: 30px;
}

.code:focus {
  outline: none;
  border-color: #08c;
}

.emoji {
  overflow: hidden;
  float: left;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-family: "AppleColorEmoji", "Noto Color Emoji", "EmojiOne Color", sans-serif;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
}

.on-preference {
  overflow: hidden;
}

.preference-panel {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  z-index: 3;
  padding: 20px;
  overflow: auto;
  border-left: 100px solid #f0f0f0;
  box-shadow: inset 1px 0 0 0 #ddd;
}

.pref-item {
  display: block;
  margin-bottom: 20px;
}

.preference-panel label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}

.preference-panel input {
  padding: 10px 13px;
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-family: menlo, monospace;
}

.preference-panel input[type="text"] {
  width: 70%;
}

.preference-panel button {
  border: 0;
  background: #08c;
  color: #fff;
  font-weight: bold;
  padding: 8px 13px;
  border-radius: 3px;
}

.pref-sidebar {
  position: absolute;
  width: 20%;
  top: 0;
  left: 0;
  height: 100%;
  background: #efefef;
  border-right: 1px solid #cfcfcf;
}

.version {
  font-family: menlo, monospace;
  margin-left: 15px;
  font-size: 10px;
}
